<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/update" method="post">
        <label for="firstName">firstName</label>
        <input name="firstName" type="text" value="<%= data.firstName %>">

        <label for="lastName">lastName</label>
        <input name="lastName" type="text" value="<%= data.lastName %>">

        <label for="">email</label>
        <input name="email" type="text" value="<%= data.email %>">

        <label for="">address</label>
        <input name="address" type="text" value="<%= data.address %>">
        
        <input type="text" hidden name="id" value="<%= data.id %>">
        <button type="submit">Edit</button>
    </form>
</body>

</html>